# Ignore everything:
*

# Except for the themes directories:
!composer.json
!wp-content
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/*/*
!wp-content/themes/*/*/*
!wp-content/themes/*/*/*/*
!wp-content/themes/*/*/*/*/*