        <footer class="site-footer style-1" id="footer" style="background-image:url({{ theme.link }}/static/images/background/bg10.png)">
          <div class="footer-top">
            <div class="container">
              <div class="footer-info wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
                <div class="row align-items-center">
                  <div class="col-xl-6 col-md-4">
                    <div class="footer-logo">
                      <a href="index.html">
                        <img src="images/logo-white.png" alt="" />
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="icon-bx-wraper left m-b10">
                      <div class="icon-lg">
                        <a class="icon-cell" href="#">
                          <i class="flaticon-email"></i>
                        </a>
                      </div>
                      <div class="icon-content">
                        <p>+91 987-654-3210 <br />info@example.com </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-4 col-sm-6">
                    <div class="icon-bx-wraper left m-b10">
                      <div class="icon-lg">
                        <a class="icon-cell" href="#">
                          <i class="flaticon-location"></i>
                        </a>
                      </div>
                      <div class="icon-content">
                        <p>Marmora Road Chi Minh City, Vietnam</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                  <div class="widget widget_about">
                    <h5 class="footer-title">About Us</h5>
                    <p>Maecenas pellentesque placerat quam, in finibus nisl tincidunt sed. Aliquam magna augue, malesuada ut feugiat eget, cursus eget felis.</p>
                    <div class="dlab-social-icon">
                      <ul>
                        <li>
                          <a class="fa fa-facebook" href="https://en-gb.facebook.com/"></a>
                        </li>
                        <li>
                          <a class="fa fa-instagram" href="https://www.instagram.com/"></a>
                        </li>
                        <li>
                          <a class="fa fa-twitter" href="https://twitter.com/login?lang=en"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                  <div class="widget widget_services">
                    <h5 class="footer-title">Our links</h5>
                    <ul>
                      <li>
                        <a href="#">Home</a>
                      </li>
                      <li>
                        <a href="#">About Us</a>
                      </li>
                      <li>
                        <a href="#">Services</a>
                      </li>
                      <li>
                        <a href="#">Team</a>
                      </li>
                      <li>
                        <a href="#">Blog</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                  <div class="widget widget_services">
                    <h5 class="footer-title">Our Services</h5>
                    <ul>
                      <li>
                        <a href="#">Strategy & Research</a>
                      </li>
                      <li>
                        <a href="#">Web Development</a>
                      </li>
                      <li>
                        <a href="#">Web Solution</a>
                      </li>
                      <li>
                        <a href="#">Digital Marketing</a>
                      </li>
                      <li>
                        <a href="#">App Design </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
                  <div class="widget widget_services">
                    <h5 class="footer-title">Other links</h5>
                    <ul>
                      <li>
                        <a href="#">FAQ</a>
                      </li>
                      <li>
                        <a href="#">Portfolio</a>
                      </li>
                      <li>
                        <a href="#">Privacy Policy</a>
                      </li>
                      <li>
                        <a href="#">Terms & Conditions</a>
                      </li>
                      <li>
                        <a href="#">Support </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-bottom wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <span class="copyright-text">Copyright © {{"now"|date('Y')}}. All rights reserved. </span>
                </div>
              </div>
            </div>
          </div>
        </footer>