<div class="content-inner-2">
    <div class="container">
        <div class="clients-carousel owl-none owl-carousel owl-loaded owl-drag">
            <div class="swiper logo-slider" dir="ltr">
                <div class="swiper-wrapper">
                    {% for item in post.meta('client_logos') %}
                    <div class="swiper-slide">
                        <div class="clients-logo">
                            <img class="logo-main" src="{{ get_image(item.logo).src }}" alt="" />
                            <img class="logo-hover" src="{{ get_image(item.logo).src }}" alt="" />
                        </div>
                    </div>
                {% endfor %}
                </div>
            <!-- slick list -->
            </div>
        </div>
    </div>
</div>
